<div class="container">
  <div class="head">
    Property Editor
  </div>
  <div class="body">
    <div class="property-item">
      <div class="label">UID:</div>
      <input [(ngModel)]="msCompoComponent.uid" placeholder="title" disabled/>
    </div>
    <div class="property-item">
      <div class="label">Text:</div>
      <input [(ngModel)]="msCompoComponent.msTitle" placeholder="title"/>
    </div>
    <div class="property-item">
      <div class="label">Background Color:</div>
      <input class="colorInput" [value]="msCompoComponent.msBackgroundColor"
       [style.background]="msCompoComponent.msBackgroundColor"
       [(colorPicker)]="msCompoComponent.msBackgroundColor"/>
    </div>
    <div class="property-item">
      <div class="label">Text Color:</div>
      <input class="colorInput" [value]="msCompoComponent.msTextColor"
       [style.background]="msCompoComponent.msTextColor"
       [(colorPicker)]="msCompoComponent.msTextColor"/>
    </div>
  </div>
</div>