<div class="container">
  <div class="head">
    Property Editor
  </div>
  <div class="body">
    <div class="property-item">
      <div class="label">UID:</div>
      <input [(ngModel)]="msComponentService.selectedMsComponent.uid" placeholder="title" disabled/>
    </div>
    <div class="property-item">
      <div class="label">Text:</div>
      <input [(ngModel)]="msComponentService.selectedMsComponent.msTitle" placeholder="title"/>
    </div>
    <div class="property-item">
      <div class="label">Background Color:</div>
      <input class="colorInput" [value]="msComponentService.selectedMsComponent.msBackgroundColor"
       [style.background]="msComponentService.selectedMsComponent.msBackgroundColor"
       [(colorPicker)]="msComponentService.selectedMsComponent.msBackgroundColor"/>
    </div>
    <div class="property-item">
      <div class="label">Text Color:</div>
      <input class="colorInput" [value]="msComponentService.selectedMsComponent.msTextColor"
       [style.background]="msComponentService.selectedMsComponent.msTextColor"
       [(colorPicker)]="msComponentService.selectedMsComponent.msTextColor"/>
    </div>
  </div>
</div>