<div class="container" #container
  [class.selected]="msComponentService.selectedMsComponent && msComponentService.selectedMsComponent.uid === uid"
  [class.endpoint]="msComponentData.type === MS_COMPONENT_TYPE.ENDPOINT"
  [ngStyle]="{'background': msBackgroundColor, 'color': msTextColor}"
  ngDraggable
  (started)="handleDragBegin($event)"
  (stopped)="handleDragEnd($event)"
  (click)="handleContainerClick()">
  {{msTitle}}
  
  <div #leftConnector class="connector left-located"
    (mousedown)="handleConnectorMouseDown($event, CONNECTOR_POSITION_TYPE.LEFT_POSITION)"
    (mouseup)="handleConnectorMouseUp($event, CONNECTOR_POSITION_TYPE.LEFT_POSITION)">
  </div>
  <div #topConnector class="connector top-located"
    (mousedown)="handleConnectorMouseDown($event, CONNECTOR_POSITION_TYPE.TOP_POSITION)"
    (mouseup)="handleConnectorMouseUp($event, CONNECTOR_POSITION_TYPE.TOP_POSITION)">
  </div>
  <div #bottomConnector class="connector bottom-located"
    (mousedown)="handleConnectorMouseDown($event, CONNECTOR_POSITION_TYPE.BOTTOM_POSITION)"
    (mouseup)="handleConnectorMouseUp($event, CONNECTOR_POSITION_TYPE.BOTTOM_POSITION)">
  </div>
  <div #rightConnector class="connector right-located"
    (mousedown)="handleConnectorMouseDown($event, CONNECTOR_POSITION_TYPE.RIGHT_POSITION)"
    (mouseup)="handleConnectorMouseUp($event, CONNECTOR_POSITION_TYPE.RIGHT_POSITION)">
  </div>
</div>